<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- 🔹 Lista de objetivos con progreso -->
  <ion-card>
    <ion-card-content>
      <h2>Objetivos</h2>
      <ion-list>
        <ion-item *ngFor="let goal of objectives$ | async">
          <ion-label>
            <h2>{{ goal.title }}</h2>
            <p>Progreso: {{ goal.progress }}%</p>
          </ion-label>
          <ion-progress-bar [value]="goal.progress / 100"
                            [color]="getProgressColor(goal.progress)">
          </ion-progress-bar>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- 🔹 Gráfico interactivo -->
  <ion-card>
    <ion-card-content>
      <h2>Gráfico interactivo</h2>
      <canvas baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              chartType="bar"
              style="display: block; width: 100%; height: 300px;">
      </canvas>
    </ion-card-content>
  </ion-card>

</ion-content>