<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Lista de objetivos con barra de progreso -->
  <ion-card>
    <ion-card-content>
      <h2>Objetivos</h2>
      <ion-list>
        <ion-item *ngFor="let goal of objectives$ | async">
          <ion-label>
            <h2>{{ goal.title }}</h2>
            <p>Progreso: {{ goal.progress }}%</p>
          </ion-label>
          <ion-progress-bar [value]="goal.progress / 100"
                            [color]="getProgressColor(goal.progress)">
          </ion-progress-bar>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Gráfico interactivo compacto -->
  <ion-card class="chart-card">
    <ion-card-content>
      <h2>Progreso Global</h2>
      <div class="chart-wrapper">
        <canvas baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                chartType="bar">
        </canvas>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>