<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Seguimiento de Objetivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Lista de objetivos -->
  <ion-list>
    <ion-item *ngFor="let goal of goals">
      <ion-label>
        <h2>{{ goal.name }}</h2>
        <p>Progreso: {{ goal.progress }}%</p>
        <ion-progress-bar [value]="goal.progress / 100"></ion-progress-bar>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="increaseProgress(goal)">
        +10%
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Botón flotante para agregar un nuevo objetivo -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="addGoal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
