<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Seguimiento de Objetivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let goal of goals">
      <ion-item button (click)="goal.expanded = !goal.expanded">
        <ion-label>
          <h2>{{ goal.name }}</h2>
        </ion-label>
      </ion-item>

      <div *ngIf="goal.expanded">
        <ion-card-content>

          <!-- Solo mostrar opciones si no se fijó duración -->
          <ng-container *ngIf="!goal.showProgress">
            <ion-radio-group [(ngModel)]="goal.tempDuration">
              <ion-list>
                <ion-item>
                  <ion-label>1 día</ion-label>
                  <ion-radio slot="start" value="1 día"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>1 semana</ion-label>
                  <ion-radio slot="start" value="1 semana"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>1 mes</ion-label>
                  <ion-radio slot="start" value="1 mes"></ion-radio>
                </ion-item>
              </ion-list>
            </ion-radio-group>

            <ion-button expand="block" (click)="setDuration(goal)">
              Fijar Duración
            </ion-button>
          </ng-container>

          <!-- Mostrar barra de progreso si se fijó duración -->
          <ng-container *ngIf="goal.showProgress">
            <ion-progress-bar [value]="goal.progress! / 100" color="success"></ion-progress-bar>
            <p class="ion-text-end">{{ goal.progress | number: '1.0-0' }}%</p>
          </ng-container>

        </ion-card-content>
      </div>
    </ion-card>
  </ion-list>
</ion-content>