ion-item {
    --padding-start: 16px;
  }
  
  ion-progress-bar {
    margin-top: 6px;
    height: 10px;
    border-radius: 6px;
  }
  
  ion-fab-button {
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }